[submodule "agents/gitagent"]
	path = agents/gitagent
	url = https://github.com/open-gitagent/gitagent
[submodule "agents/mirothinker"]
	path = agents/mirothinker
	url = https://github.com/MiroMindAI/MiroThinker
[submodule "freqtrade"]
	path = freqtrade
	url = https://github.com/freqtrade/freqtrade.git
